@import url('globals.css');


.hero_text {
    display: grid;
    grid-gap: 15px;
}

.hero_content {
    padding-top: 110px !important;
    padding-bottom: 40px !important;
}

.hero_wrapper {
    display: block;
}

.hero_title {
    font-size: 40px !important;    
}

.hero_desc {
    font-size: 20px;
    font-weight: 500;

}

/* .hero_wrapper_div {
    display: grid;
    grid-template-columns: 60% 40%;
} */

/* .hero_image_img {
    width: 200px;
} */

.hero_image_asset {
    display: none;
}

.scroll_downbtn {
    background-color: var(--white);
    margin-top: 35px;
    display: inline-block;
    border: 1px solid var(--black);
    padding: 10px 3px;
    border-radius: 30px;
    position: relative;
    animation: scrolldown 1s infinite ease-in-out alternate-reverse both;
}   

.scroll_downbtn-svg {
    width: 30px;
    height: 30px;
}

@keyframes scrolldown {
    from {        
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 15px);
    }
}



/* Products */

.ps_content {
    padding-bottom: 70px !important;
}

.ps_desc {
    padding: 20px 0px 40px 0px;
}

.div_section_wrapper {
    display: grid;
    grid-gap: 35px;
    justify-content: center;
}

.product {
    border: 1px var(--border-black) solid;
    border-radius: 8px;
    background-color: var(--white);
    max-width: 330px;
}

.product_image {
    width: 100%;
    display: block;
    border-radius: 8px 8px 0px 0px;
}

.product_content_text {
    padding: 25px 20px 30px 20px;
    text-align: left;
}

.product_type {
    font-size: .66rem;
    display: inline-block;
    background-color: var(--background-white-2);
    border: 1px var(--pale-black) solid;
    padding: .5em .75em;
    border-radius: 2em;
    font-family: 'Sora', 'Inter', sans-serif;
}


.product_title {
    margin: 20px 0px 6.5px 0px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.product_desc {
    margin: 25px 0px 40px 0px;
    font-size: inherit;
}


.creator_name_wrapper {
    font-size: .95rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.creator_name {
    color: var(--black-2);
}

.product_details {
    display: grid;
    grid-template-columns: 45% 55%;
    text-align: left;
    align-items: center;
}

.price {
    margin: auto auto auto 0px;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Sora', 'Inter', sans-serif;   
}

.product_homebtn {
    font-size: 1rem !important;
    background-color: var(--blue);
    color: var(--white);
    padding: 12px !important;
    border-radius: 8px;
    text-align: center;
}

.product_homebtn:hover {
    background-color: var(--deep-blue);
    color: white;
}



@media only screen and (min-width: 360px) {
    .hero_content {
        padding-top: 110px !important;
        padding-bottom: 50px !important;
    }   
}

@media only screen and (min-width: 450px) {
    .hero_title_br_1 {
        display: none;
    }

    .hero_title_br_3 {
        display: none;
    }

    .product {
        max-width: 400px;
    }

    .ps_desc {
        max-width: 400px;
        padding: 25px 0px 50px 0px;
    }

    .product_content_text {
        padding: 25px;
        text-align: left;
    }
}

@media only screen and (min-width: 650px) {
    .scroll_downbtn {        
        margin-top: 45px;        
    }   

    .hero_title {
        font-size: 45px !important;    
    }

    .hero_desc {
        font-size: 22px !important;
    }

    .div_section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ps_content {
        padding-bottom: 10px !important;
    }
    
    .product {
        max-width: 350px;
    }

    .ps_desc {
        max-width: 500px;
        padding: 25px 0px 60px 0px;
    }

    .product_type {
        font-size: .76rem;     
        padding: .6em .95em;
        border-radius: 2.5em;
    }

    .product_title {
        margin: 30px 0px 7px 0px;
        font-size: 22px;
    }  
}


@media only screen and (min-width: 850px) {
    .div_section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product {
        max-width: 400px;
    }

    .product_title {
        font-size: 24px;
    }
}


@media only screen and (min-width: 1020px) {
    .hero_content {
        padding-top: 150px !important;
        padding-bottom: 50px !important;
    }

    .hero_title {
        font-size: 50px !important;
    }

    .hero_desc {
        font-size: 25px !important;
    }

    .hero_wrapper_div {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .hero_image_asset {
        display: block;        
        width: 100%;
        height: 200px;        
    }
    
}


@media only screen and (min-width: 1220px) {

    .hero_content {
        padding-top: 150px !important;    
    }

    .hero_title {
        font-size: 55px !important;
    }

    .div_section_wrapper {
        gap: 50px;        
    }
}

@media only screen and (min-width: 1300px) {
    .hero_content {
        padding-top: 150px !important;    
    }
}