@import url('globals.css');

.hero_content {
    padding-top: 85px;
}

.hero_title {
    font-size: 38px;
    line-height: 1.1;
}

.hero_desc {
    margin: 25px 0px;
    font-size: 17px;
    line-height: 1.25;
}



.form_content {
    padding: 25px 0px;
}

.form_wrapper {
    display: grid;
    grid-gap: 15px;
    max-width: 500px;
    
}

.ns_input {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--border-black);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.ns_submit {
    font-family: 'Inter', sans-serif;
    width: 120px;
    border: 0px;
    margin-top: 15px;
}